@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cpBlack text-cpTextColor text-xl leading-relaxed text-center;
}

* {
scrollbar-width: auto;
scrollbar-color: #b2040b #1a1a1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #B2040B;
}

*::-webkit-scrollbar-thumb {
background-color: #5D636A;
border-radius: 020px;
border: 0px solid #3a3131;
}